html, body {
        background:#153131;
        font-family: Calibri(Body), Arial;
        font-size: 16px;
        color: #FF5964;
}

p {
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 20px;
  color:#35A7FF;
}

#container {
        width:90%;
        max-width: 800px;
        background:0B132B;
        margin: 30px auto;
        padding: 30px;
}

section {
        border-top: 1px solid #1E2B48;
        padding: 20px 0 0;
}
